---
layout: splash
author_profile: false

excerpt: "Making state-of-the-art generalisation testing the new status-quo in NLP"
header:
  <!-- overlay_image: /assets/images/unsplash-image-1.jpg -->
  overlay_color: "#268"

feature_row_tile:
  - image_path: assets/images/tiles_genbench_squarer-1.png
    url: "/taxonomy"
    title: Taxonomy
  - image_path: assets/images/tiles_genbench_squarer-2.png
    url: "/visualisations"
    title: Visualisations
  - image_path: assets/images/tiles_genbench_squarer-3.png
    url: "/references"
    title: References
---

<div style="text-align:center; font-size:larger; margin-bottom: 1em; padding: 2em; border-bottom: 1px solid #cfd4d3; "> 
  The ability to generalise is one of the primary desiderata of natural language processing (NLP). 
  Yet, how "good generalisation" should be defined and evaluated is not well understood, 
  nor are there common standards to evaluate generalisation. 
  As a consequence, newly proposed models are usually not systematically tested for their ability to generalise. 
  <b>GenBench</b>'s mission is to make state-of-the-art generalisation testing the new status-quo in NLP. 
  As a first step, we present a <a href="/taxonomy"><i>generalisation taxonomy</i></a>, describing the underlying building blocks 
  of generalisation in NLP.  We use the taxonomy to do an elaborate <i>review of over 400 generalisation papers</i>, 
  and we make <i>recommendations</i> for promising areas for the future. 

  <div class="language-plaintext highlighter-rouge" style="text-align:left; font-size:small; margin-bottom: 1.5em; margin-top: 1.5em;"><div class="highlight"><pre class="highlight"><code><a href="hupkes2022taxonomy.bib" style="color: inherit; text-decoration: none;">@article{hupkes2022taxonomy,
  title = {State-of-the-art generalisation research in {NLP}: a taxonomy and review},
  author = {Dieuwke Hupkes and Mario Giulianelli and Verna Dankers and Mikel Artetxe and Yanai Elazar and Tiago Pimentel and Christos Christodoulopoulos and Karim Lasri and Naomi Saphra and 
    Arabella Sinclair and Dennis Ulmer and Florian Schottmann and Khuyagbaatar Batsuren and Kaiser Sun and Koustuv Sinha and Leila Khalatbari and Maria Ryskina and Rita Frieske and Ryan Cotterell and Zhijing Jin},
  year = {2022},
  journal = {CoRR},
  url = {https://arxiv.org/abs/2210.03050},
}</a></code></pre></div></div>
    
  You can find all this information in our <a href="https://arxiv.org/abs/2210.03050" target="_blank">taxonomy paper</a>. 
  On this website, you can <a href="/taxonomy/">learn about the taxonomy</a>, 
  you can <a href="/visualisations">visually explore our results</a>, 
  and <a href="references">get citations from our analysis</a> or <a href="/contribute/">contribute papers</a> 
  that we will periodically add to our review.
</div>

{% include feature_row id="feature_row_tile" type="tile" %}

<h2 id="news">News</h2>

<table class="news-table" style="font-size: 18px;">
  <tbody>
    {% for article in site.data.news limit:6 %}
      <tr>
        <td style="width: 12em; border-bottom: none;"><b>{{ article.date }}</b></td>
        <td style="border-bottom: none;">{{ article.headline }}</td>
      </tr>         
    {% endfor %}
  </tbody>
</table>
