---
layout: splash
author_profile: false

excerpt: "Making state-of-the-art generalisation testing the new status-quo in NLP"
header:
  <!-- overlay_image: /assets/images/unsplash-image-1.jpg -->
  overlay_color: "#268"

feature_row_tile:
  - image_path: assets/images/tiles_genbench_taxonomy.png
    url: "/taxonomy"
    title: Taxonomy
  - image_path: assets/images/tiles_genbench_visualisations.png
    url: "/visualisations"
    title: Visualisations
  - image_path: assets/images/tiles_genbench_references.png
    url: "/references"
    title: References
  - image_path: assets/images/tiles_genbench_eval_cards.png
    url: "/eval_cards"
    title: Evaluation Cards
  - image_path: assets/images/tiles_genbench_workshop.png
    url: "/workshop"
    title: Workshop
---

<div style="text-align:center; font-size:larger; margin-bottom: 1em; padding: 2em; border-bottom: 1px solid #cfd4d3; "> 
  The ability to generalise is one of the primary desiderata of natural language processing (NLP). 
  Yet, how "good generalisation" should be defined and evaluated is not well understood, 
  nor are there common standards to evaluate generalisation. 
  As a consequence, newly proposed models are usually not systematically tested for their ability to generalise. 
  <b>GenBench</b>'s mission is to make state-of-the-art generalisation testing the new status-quo in NLP. 
  As a first step, we present a <a href="/taxonomy"><i>generalisation taxonomy</i></a>, describing the underlying building blocks 
  of generalisation in NLP.  We use the taxonomy to do an elaborate <i>review of over 400 generalisation papers</i>, 
  and we make <i>recommendations</i> for promising areas for the future. 

  <div class="language-plaintext highlighter-rouge" style="text-align:left; font-size:small; margin-bottom: 1.5em; margin-top: 1.5em;"><div class="highlight"><pre class="highlight"><code><a href="hupkes2022taxonomy.bib" style="color: inherit; text-decoration: none;">@Article{Hupkes2023,
    author={Hupkes, Dieuwke and Giulianelli, Mario and Dankers, Verna
    and Artetxe, Mikel and Elazar, Yanai and Pimentel, Tiago and Christodoulopoulos, Christos and Lasri, Karim and Saphra, Naomi 
    and Sinclair, Arabella and Ulmer, Dennis and Schottmann, Florian and Batsuren, Khuyagbaatar and Sun, Kaiser and Sinha, Koustuv 
    and Khalatbari, Leila and Ryskina, Maria and Frieske, Rita and Cotterell, Ryan and Jin, Zhijing},
    title={A taxonomy and review of generalization research in NLP},
    journal={Nature Machine Intelligence},
    year={2023},
    month={Oct},
    day={01},
    volume={5},
    number={10},
    pages={1161-1174},
    abstract={The ability to generalize well is one of the primary desiderata for models of natural language processing (NLP), but what `good generalization' entails and how it should be evaluated is not well understood. In this Analysis we present a taxonomy for characterizing and understanding generalization research in NLP. The proposed taxonomy is based on an extensive literature review and contains five axes along which generalization studies can differ: their main motivation, the type of generalization they aim to solve, the type of data shift they consider, the source by which this data shift originated, and the locus of the shift within the NLP modelling pipeline. We use our taxonomy to classify over 700 experiments, and we use the results to present an in-depth analysis that maps out the current state of generalization research in NLP and make recommendations for which areas deserve attention in the future.},
    issn={2522-5839},
    doi={10.1038/s42256-023-00729-y},
    url={https://doi.org/10.1038/s42256-023-00729-y}
    }</a></code></pre></div></div>
    
  You can find all this information in our <a href="https://arxiv.org/abs/2210.03050" target="_blank">taxonomy paper</a>. 
  On this website, you can <a href="/taxonomy/">learn about the taxonomy</a>, 
  you can <a href="/visualisations">visually explore our results</a>,
  <a href="/eval_cards/">create <i>GenBench Evaluation Cards</i></a> for your research papers,
  and <a href="/references/">get citations from our analysis</a> or <a href="/contribute/">contribute papers</a>
  that we will periodically add to our review.
</div>

{% include feature_row id="feature_row_tile" type="tile" %}

<h2 id="news">News</h2>

<table class="news-table" style="font-size: 18px;">
  <tbody>
    {% for article in site.data.news limit:6 %}
      <tr>
        <td style="width: 12em; border-bottom: none;"><b>{{ article.date }}</b></td>
        <td style="border-bottom: none;">{{ article.headline }}</td>
      </tr>         
    {% endfor %}
  </tbody>
</table>
